body{
  padding-top: 50px;
  background-color: #ffff;
}

*{
  list-style: none;
}

.main div{
  background-image: url(images/web.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
header{
  text-align: center;
}
div.main{
  text-align: center;
}


section{
  text-align: center;
}

header img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

 section article img{
  width: 300px;
}
/* nav section */
nav a{
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  color: beige;
}

nav a:hover{
  color: rgb(6, 127, 233);
  transition: ease-in, 0.5s;
}
.navbar{
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/woman.jpg);
  top: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 30px;
  object-fit: cover;
}
section.intro{
  background-color: #eee;
}